{% extends 'loja_app/base.html' %}

{% block content %}
<div class="centralizador">
<h1>Avaliação Nutricional para Emagrecimento Saudável</h1>

<p>Preencha este questionário com sinceridade. Suas respostas nos ajudarão a traçar um plano personalizado e seguro para alcançar seu objetivo de emagrecimento.</p>
</div>
<div class="formulario-google">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScKuj4a_7_NBFGlK87A-Jw08S0GbXfhdu9dRhMOCc5H0qfcJw/viewform?embedded=true" 
          width="640" 
          height="3731" 
          frameborder="0" 
          marginheight="0" 
          marginwidth="0">
    Carregando…
  </iframe>
</div>
{% endblock %}
