{% extends 'base.html' %}

{% block title %}Entenda Doenças e Causas{% endblock %}

{% block content %}
<h1>Entenda Doenças e Causas</h1>
<p>Conteúdo sobre como entender as doenças e suas causas.</p>

<h2>Enfermidades, Sintomas e Aplicações</h2>

<div class="doenca">
    <h3>Abcesso</h3>
    <p><strong>Sintomas:</strong> Ajuntamento de pus numa cavidade acidental ou natural do corpo.</p>
    <p><strong>Aplicações:</strong> indicações: E-book Abcesso definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo.</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Ácido urico</h3>
    <p><strong>Sintomas:</strong> Ácido azotado, eliminado do organismo pela urina, e que representa o resultado final do metabolismo das purinas.</p>
    <p><strong>Aplicações:</strong> indicações: E-book Frutas que combatem o ácido urico</p>
</div>

<div class="doenca">
    <h3>Acne</h3>
    <p><strong>Sintomas:</strong> Doença da pele (designação genérica das afecções das glândulas sebáceas)</p>
    <p><strong>Aplicações:</strong> indicações: Ver E-book antidermatosos</p>
</div>

<div class="doenca">
    <h3>Atiposidade</h3>
    <p><strong>Sintomas:</strong> Excesso de gordura;obesidade.</p>
    <p><strong>Aplicações:</strong> indicações: E-book Anteóbesicos</p>
</div>

<div class="doenca">
    <h3>Adstringentes</h3>
    <p><strong>Sintomas:</strong> Provocam a contração das superfícies mucosas, dos vasos sanguineos ou dos tecidos, e diminuem as secreções e os corrimentos, tendo aplicação contra as diarréias, as hemorragias, as heorróidas, as feridas, etc.</p>
    <p><strong>Aplicações:</strong> indicações: E-book Adstringentes</p>
</div>

<div class="doenca">
    <h3>Afonia</h3>
    <p><strong>Sintomas:</strong> Perda parcial ou total da voz. Pode ser acidental ou crônica.</p>
    <p><strong>Aplicações:</strong> indicações: E-book Afonia</p>
</div>

<div class="doenca">
    <h3>Afta</h3>
    <p><strong>Sintomas:</strong> Afecção que aparece especialmente na mucosa da boca e que se caracteriza pela produção de vesículas temporárias, seguidas de ulcerações superficiais./p>
    <p><strong>Aplicações:</strong> indicações: E-book Afita definições e causas</p>
</div>

<div class="doenca">
    <h3>Albuminuria</h3>
    <p><strong>Sintomas:</strong> Existência de albumina na urina.</p>
    <p><strong>Aplicações:</strong> indicações: Máteria sobre assunto link em breve</p>
</div>

<div class="doenca">
    <h3>Alcoolismo</h3>
    <p><strong>Sintomas:</strong> Intoxicação aguda ou crônica pelo álcool, com lamentáveis distúrbios físicos, intelectuais e morais.</p>
    <p><strong>Aplicações:</strong> indicações: E-book sobre o assunto link em breve</p>
</div>

<div class="doenca">
    <h3>Alopecia</h3>
    <p><strong>Sintomas:</strong> Ausência congênita ou não dos cabelos ou demais pêlos do corpo.</p>
    <p><strong>Aplicações:</strong> indicações: Materia sobre o assunto link em breve.</p>
</div>

<div class="doenca">
    <h3>Amenorreia</h3>
    <p><strong>Sintomas:</strong> Supressão do fluxo mentrual em mulheres que já atingiram a puberdade mas ainda não alcançaram a menopausa.</p>
    <p><strong>Aplicações:</strong> indicações: Máterias sobre Emenagogos link em breve.</p>
</div>

<div class="doenca">
    <h3>Amigdalite</h3>
    <p><strong>Sintomas:</strong> Inflamações das amígdalas</p>
    <p><strong>Aplicações:</strong> indicações: Máteria em breve.</p>
</div>

<div class="doenca">
    <h3>Amnésia</h3>
    <p><strong>Sintomas:</strong> Diminuição ou perda da memória.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Analépticos</h3>
    <p><strong>Sintomas:</strong> Restauram as forças.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anemia</h3>
    <p><strong>Sintomas:</strong> Estado mórbido assinalado por acentuada dminuição do número de glóbulos sanguíneos vermelhos e da taxa de hemoglobina.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Angina</h3>
    <p><strong>Sintomas:</strong> Inflamações intensa das mucosas da garganta, laringe e traquéia.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anorexia</h3>
    <p><strong>Sintomas:</strong> Falta de apetite.</p>
    <p><strong>Aplicações:</strong> indicações: Ver Aperientes</p>
</div>

<div class="doenca">
    <h3>Antelminticos</h3>
    <p><strong>Sintomas:</strong> Medicamentos que gozam da propriedade de matar os vermes intestinais ou de expulsá-los dos intestinos.</p>
    <p><strong>Aplicações:</strong> indicações: E-book Vermífugos</p>
</div>

<div class="doenca">
    <h3>Antianémicos</h3>
    <p><strong>Sintomas:</strong> Combatem ou evitam a anemia.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Antiartriticos</h3>
    <p><strong>Sintomas:</strong> Combatem a artrite.</p>
    <p><strong>Aplicações:</strong> indicações: Materias em breve</p>
</div>

<div class="doenca">
    <h3>Antiasmáticos</h3>
    <p><strong>Sintomas:</strong> Usam-se contra a asma.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Antiasténicos</h3>
    <p><strong>Sintomas:</strong> Restauram as forças do organismo</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Antibiliosos</h3>
    <p><strong>Sintomas:</strong> Fazem evacuar a bile.</p>
    <p><strong>Aplicações:</strong> indicações: Ver Colagogos</p>
</div>

<div class="doenca">
    <h3>Antiblenorrágicos</h3>
    <p><strong>Sintomas:</strong> Combatem a bleborragia.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anticancerosos</h3>
    <p><strong>Sintomas:</strong> Usam-se contra o cancêr.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anticatarrais</h3>
    <p><strong>Sintomas:</strong> Combatem a formação de catarro.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anticatártaticos</h3>
    <p><strong>Sintomas:</strong> Combatem a diarreia.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anticefalágicos</h3>
    <p><strong>Sintomas:</strong> Usam-se contra as dores de cabeça.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anticloróticos</h3>
    <p><strong>Sintomas:</strong> Tem aplicação contra a clorose.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Anticoléricos</h3>
    <p><strong>Sintomas:</strong> Combatem a colerina e a cólera.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Antidermatosos</h3>
    <p><strong>Sintomas:</strong> Combatem as afecções da pele de causa infecciosa, parasitária, traumática, neuroendócrina ou alérgica.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Antidiabéticos</h3>
    <p><strong>Sintomas:</strong> Usam-se para combater diabetes.</p>
    <p><strong>Aplicações:</strong> indicações: Materia em breve</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

<div class="doenca">
    <h3>Acidose</h3>
    <p><strong>Sintomas:</strong> Aumento absoluto ou relativo dos ácidos do organismo</p>
    <p><strong>Aplicações:</strong> indicações: E-book acidose definições e causas</p>
</div>

{% endblock %}