<!DOCTYPE html>
<html>
  <head>
    <title>Finalizar Compra</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>

    <h3>Produto Nutri Amorim - R$50,00</h3>
    <button id="checkout-button">Finalizar Compra</button>

    <script>
      const stripe = Stripe('SUA_PUBLISHABLE_KEY');

      document.getElementById('checkout-button').addEventListener('click', () => {
        fetch('/create-checkout-session', { method: 'POST' })
          .then(res => res.json())
          .then(data => {
            return stripe.redirectToCheckout({ sessionId: data.id });
          })
          .catch(err => console.error(err));
      });
    </script>

  </body>
</html>
