{% extends 'loja_app/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}
{% block body_class %}pagina-home{% endblock %}

{% block content %}

<h1 class="titulo-principal">Bem-vindo ao Nutri Amorim</h1>
<div class="imagem-section">
  <h1 class="titulo-noticias">Notícias</h1>
  <p class="descricao-principal">
    Adeus noites mal dormidas: pesquisa revela que comer kiwi antes de dormir pode ajudar a pegar no sono mais rápido.
  </p>

  <div class="imagem">
    <video autoplay muted loop playsinline class="imagem-canetinha">
        <source src="{% static 'img/kiwi.mp4' %}" type="video/mp4">
        Seu navegador não suporta vídeo HTML5.
    </video>
</div>

  <a href="/saude/" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>

<h1 class="titulo-principal">Projeto Alimente-se</h1>
<p class="descricao-principal">
  No dia 07/06, celebramos o Dia Mundial da Segurança dos Alimentos e propomos reduzir o desperdício e melhorar o
  aproveitamento dos alimentos.
</p>

<div class="centralizador">
  <a href="https://instagram.com/nutricao_ead_unicesumar" target="_blank" rel="noopener noreferrer">
    @nutricao_ead_unicesumar
  </a>
</div>

<div class="container">
  <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);background:#F4F4F4">
    <iframe src="https://padlet.com/embed/22plsvk9z6aumb2g"
            frameborder="0"
            style="width:100%;height:608px"></iframe>

    <p>
      <a href="https://padlet.com/nutricaoeadunicesumarlives/aproveitamento-integral-dos-alimentos-22plsvk9z6aumb2g"
         target="_blank">
        👉 Clique aqui e poste sua receita
      </a>
    </p>
  </div>
</div>

<div class="imagem-section">
  <h1 class="titulo-noticias">Mounjaro</h1>
  <p class="descricao-principal">
    Como funciona o novo remédio com efeito superior ao Ozempic aprovado pela Anvisa.
  </p>

  <div class="imagem">
    <img src="{% static 'img/mounjaro1.webp' %}" alt="Mounjaro" class="imagem-canetinha">
  </div>

  <a href="/saude/" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>

<div class="imagem-section">
  <h1 class="titulo-noticias">Novidades</h1>
  <p class="descricao-principal">
    Conheça nossa comunidade dedicada a compartilhar receitas medicinais e dicas de cozinha.
  </p>

  <div class="imagem">
    <img src="{% static 'img/imagem_globoverde.jpg' %}" alt="Comunidade" class="imagem-canetinha">
  </div>

  <a href="https://chat.whatsapp.com/IQ1AJ7i2MpV3jPCJALkomf" class="botao-noticias">
    Clique aqui e confira todas informações
  </a>
</div>

<div class="imagens-container">

  <div class="imagem-section">
    <h2 class="subtitulo">Dieta Alcalina</h2>
    <img src="{% static 'img/dieta_alcalina_IA.png' %}" class="imagem-grande">
    <p class="texto-justificado">
      A Nutrição Alcalina baseia-se em alimentos alcalinizantes como frutas, vegetais e legumes,
      promovendo equilíbrio do pH corporal.
    </p>
  </div>

  <div class="imagem-section">
    <h2 class="subtitulo">Nutrição Esportiva</h2>
    <img src="{% static 'img/nutricao_esportiva2_IA.png' %}" class="imagem-grande">
    <p class="texto-justificado">
      A Nutrição Esportiva potencializa o desempenho físico e melhora a recuperação muscular.
    </p>
  </div>

  <div class="imagem-section">
    <h2 class="subtitulo">Nutrição Funcional</h2>
    <img src="{% static 'img/nutricao_funcional1_IA.png' %}" class="imagem-grande">
    <p class="texto-justificado">
      A Nutrição Funcional promove o equilíbrio do organismo e previne doenças por meio da alimentação.
    </p>
  </div>

</div>

{% endblock %}
