{% extends 'loja_app/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<h1 class="titulo-principal">Bem-vindo ao Nutri Amorim</h1>
<p class="descricao-principal">Confira os principais artigos sobre nutrição, suplementos, remedios e produtos naturais.</p>
<ul>
    <li>Arrecadação de Alimentos Para Instituições Sociais</li>
    <li>Projeto de Saúde e Bem-Estar</li>
    <li>Fome zero e agricultura sustentável</li>
    <li>Saúde e bem-estar</li>
    <li>Redução das desigualdades</li>
</ul>

<div class="imagem-section">
  <h1 class="titulo-noticias">Projeto Alimentação Solidária Doação de Alimentos Para Instituições Sociais</h1>
  <p class="descricao-principal">Data de Início 09/06/2025
  
<p><strong>Arrecadação de Alimentos</strong></p>
<p>Estamos fazendo uma arrecadação para ajudar famílias carentes que estão cadastradas no programa social da Campanha da Fraternidade Auta de Souza uma das obras da Irradiação Espirita Cristã</p>
 <div class="banner-rotativo">
  <div class="slides">
    <div class="slide ativo">
      <img src="{% static 'img/Alimentação solidária_Auta_de_souza.png' %}" alt="Banner 1">
    </div>
    <div class="slide">
      <img src="{% static 'img/capa_banner_receitas.jpg' %}" alt="Banner 2">
    </div>
    <div class="slide">
      <img src="{% static 'img/capa_banner_suplementos.jpg' %}" alt="Banner 3">
    </div>
    <div class="slide">
      <img src="{% static 'img/banner_nutri1.png' %}" alt="Banner 4">
    </div>
  </div>
</div>

<div class="imagem">
    <img src="{% static 'img/Alimentação solidária_Auta_de_souza.png' %}" alt="Imagem de uma canetinha" class="imagem-canetinha" />
  </div>
  <a href="/saude/" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>

<div class="imagem-section">
  <h1 class="titulo-noticias">Notícias</h1>
  <p class="descricao-principal">Adeus noites mal dormidas: pesquisa revela que comer kiwi antes de dormir pode ajudar a pegar no sono mais rápido.</p>
  <div class="imagem">
    <img src="{% static 'img/foto_kiwi.jpg' %}" alt="Imagem de uma canetinha" class="imagem-canetinha" />
  </div>
  <a href="/saude/" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>

<h1 class="titulo-principal"> Projeto Alimente-se </h1>
  <p class="descricao-principal">No dia 07/06, celebramos o Dia Mundial da Segurança dos Alimentos, e para contribuir com uma sociedade mais consciente e sustentável, propomos um novo desafio: reduzir o desperdício e aprimorar o aproveitamento dos alimentos.</p>
  <p>
    <a href="https://instagram.com/nutricao_ead_unicesumar" target="_blank" rel="noopener noreferrer">
    @nutricao_ead_unicesumar
  </a>
</p>

<div class="container">
<div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4">
  <p style="padding:0;margin:0">
    <iframe src="https://padlet.com/embed/22plsvk9z6aumb2g" frameborder="0" allow="camera;microphone;geolocation;display-capture;clipboard-write" style="width:100%;height:608px;display:block;padding:0;margin:0"></iframe>
  </p>
  <div style="display:flex;align-items:center;justify-content:end;margin:0;height:28px">
    <a href="https://padlet.com?ref=embed" target="_blank" style="text-decoration:none">
      <img src="https://padlet.net/embeds/made_with_padlet_2022.png" width="114" height="28" alt="Criado com o Padlet">
    </a>
  </div>

<p>
  <a href="https://padlet.com/nutricaoeadunicesumarlives/aproveitamento-integral-dos-alimentos-22plsvk9z6aumb2g" target="_blank">
    👉 Clique aqui e poste sua receita
  </a>
</p>
</div>
</div>

<div class="imagem-section">
  <h1 class="titulo-noticias">Notícias</h1>
  <p class="descricao-principal">Mounjaro: como funciona novo remédio com efeito superior ao Ozempic aprovado pela Anvisa.</p>
  <div class="imagem">
    <img src="{% static 'img/mounjaro1.webp' %}" alt="Imagem de uma canetinha" class="imagem-canetinha" />
  </div>
  <a href="/saude/" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>

<div class="imagem-section">
  <h1 class="titulo-noticias">Novidades</h1>
  <p class="descricao-principal">Conheça nossa comunidade dedicada a compartilhar receitas medicinais e dicas de cozinha.</p>
  <div class="imagem">
    <img src="{% static 'img/imagem_globoverde.jpg' %}" alt="Imagem de uma canetinha" class="imagem-canetinha" />
  </div>
  <a href="https://chat.whatsapp.com/IQ1AJ7i2MpV3jPCJALkomf" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>

<div class="imagem-section">
  <h1 class="titulo-noticias">Novas matérias Gripe e Tosse</h1>
  <p class="descricao-principal">Receitas decção para combater gripe, tosse e com efeitos em outras doenças e sintomas.</p>
  <div class="imagem">
    <img src="{% static 'img/novidades_pagina.png' %}" alt="Imagem de uma canetinha" class="imagem-canetinha" />
  </div>
  <a href="https://www.nutriamorim.com.br/entenda_doencas_e_causas" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>

<div class="imagens-container">
  
  <!-- Seção Dieta Alcalina -->
  <div class="imagem-section">
    <h2 class="subtitulo">Dieta Alcalina</h2>
    <img src="{% static 'img/dieta_alcalina_IA.png' %}" alt="Dieta Alcalina" class="imagem-grande" />
    <p class="texto-justificado">
      A Nutrição Alcalina baseia-se na ideia de que uma alimentação rica em alimentos alcalinizantes, como frutas, vegetais e legumes, pode contribuir para o equilíbrio do pH corporal, promovendo saúde e bem-estar...
    </p>

    <h3 class="subsubtitulo">Alimentos Alcalinizantes e Acidificantes</h3>
    <p class="texto-justificado">
      Os alimentos considerados alcalinizantes incluem frutas, vegetais, legumes e oleaginosas...
    </p>

    <h3 class="subsubtitulo">Benefícios Potenciais</h3>
    <p class="texto-justificado">
      A Nutrição Alcalina pode trazer benefícios como a redução de inflamações, melhora na saúde óssea...
    </p>
  </div>

  <!-- Seção Nutrição Esportiva -->
  <div class="imagem-section">
    <h2 class="subtitulo">Nutrição Esportiva</h2>
    <img src="{% static 'img/nutricao_esportiva2_IA.png' %}" alt="Nutrição Esportiva" class="imagem-grande" />
    <p class="destaque">Objetivo da Nutrição Esportiva</p>
    <p class="texto-justificado">
      A Nutrição Esportiva tem como objetivo potencializar o desempenho físico, otimizar a recuperação muscular...
    </p>

    <h3 class="subsubtitulo">Alimentos Essenciais para o Desempenho</h3>
    <p class="texto-justificado">
      Para alcançar resultados excepcionais, a dieta de um atleta ou modelo deve ser composta por alimentos que favoreçam a construção muscular...
    </p>

    <h3 class="subsubtitulo">Benefícios da Nutrição Esportiva</h3>
    <p class="texto-justificado">
      A Nutrição Esportiva contribui significativamente para a melhoria do desempenho atlético...
    </p>
  </div>

  <!-- Seção Nutrição Funcional -->
  <div class="imagem-section">
    <h2 class="subtitulo">Nutrição Funcional</h2>
    <img src="{% static 'img/nutricao_funcional1_IA.png' %}" alt="Nutrição Funcional" class="imagem-grande" />
    <p class="texto-justificado">
      A <strong>Nutrição Funcional</strong> é uma abordagem da alimentação que visa promover o equilíbrio do organismo e prevenir doenças...
    </p>
    <p class="texto-justificado">
      Com o uso de alimentos funcionais, que são ricos em compostos bioativos, é possível promover a saúde de forma preventiva e eficaz...
    </p>
  </div>
</div>

{% endblock %}
