{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <h1>Normas e Regulamentos</h1>

    <section class="produtos-container">

        <article class="produto-item">
            <img src="{% static 'img/capa_codigo_de_etica_do_nutricionista.jpg' %}" alt="Código de Ética do Nutricionista" class="produto-imagem">
            <div class="produto-info">
                <h2>Código de Ética do Nutricionista</h2>
                <p>Este livro traz as normas e condutas que orientam a prática ética do nutricionista em diversas situações.</p>
                <a href="{% static 'pdf/codigo-de-etica-do-nutricionista.pdf' %}" target="_blank"><button>Ver Detalhes</button></a>
            </div>
        </article>

        <article class="produto-item">
            <img src="{% static 'img/capa_exercicio_ilegal_da_profissao.jpg' %}" alt="Exercício Ilegal da Profissão" class="produto-imagem">
            <div class="produto-info">
                <h2>Exercício Ilegal da Profissão</h2>
                <p>Entenda os aspectos legais e éticos sobre o exercício da profissão de nutricionista e os impactos do exercício ilegal.</p>
                <a href="{% static 'pdf/exercicio-ilegal-da-profissao.pdf' %}" target="_blank"><button>Ver Detalhes</button></a>
            </div>
        </article>

        <article class="produto-item">
            <img src="{% static 'img/capa_tabelas_de_honorarios.jpg' %}" alt="Tabela de Honorários 2024" class="produto-imagem">
            <div class="produto-info">
                <h2>Tabela de Honorários 2024</h2>
                <p>Consulte a tabela de honorários atualizada para a profissão de nutricionista, uma ferramenta indispensável para o profissional da área.</p>
                <a href="{% static 'pdf/tabela-de-honorarios-2024.pdf' %}" target="_blank"><button>Ver Detalhes</button></a>
            </div>
        </article>

    </section>
{% endblock %}
