{% extends "loja_app/base.html" %}
{% load static %}

{% block content %}
<main>
    <h1>Produtos Loja Nutri</h1>

    <div class="subtopbar">
        <a href="/carrinho.html">
            🛒 <span id="cart-count">0</span> itens
        </a>
    </div>

    <section class="produtos-container">

        <!-- Produto 1: Malbec Madeira -->
        <article id="produto-malbec" class="produto-item">
            <img src="{% static 'img/malbec_madeira.jpg' %}" alt="Malbec Madeira" class="produto-imagem">
            <div class="produto-info">
                <h2>Malbec Madeira 100ml</h2>
                <p>Malbec Madeira é uma fragrância masculina inesquecível e ideal para o homem sedutor e marcante.</p>
                <p><strong>Preço:</strong> R$ 179,89</p>
                <a href="https://minhaloja.grupoboticario.com.br/loja-marcosfelipeamorimmendes-22104942" target="_blank" rel="noopener noreferrer">
                <button type="button" class="btn-produtos">Produtos</button>
                </a>
                <button onclick="faleComRevendedor('Malbec Madeira 100ml', 179.89)">Fale com Revendedor</button>
            </div>
        </article>

        <!-- Produto 2: Floratta Red -->
        <article id="produto-floratta" class="produto-item">
            <img src="{% static 'img/floratta_red.jpg' %}" alt="Floratta Red" class="produto-imagem">
            <div class="produto-info">
                <h2>Floratta Red 75ml</h2>
                <p>Florata Red é uma combinação da delicadeza da flor da maça de vermont e a doçura do fruto. Uma fragrância feminina que transmite atitude e romantismo.</p>
                <p><strong>Preço:</strong> R$ 124,90</p>
                 <!-- Botão para abrir a loja -->
                 <a href="https://minhaloja.grupoboticario.com.br/loja-marcosfelipeamorimmendes-22104942" target="_blank" rel="noopener noreferrer">
                 <button type="button" class="btn-produtos">Produtos</button>
                 </a>
                <button onclick="faleComRevendedor('Floratta Red 75ml', 124.90)">Fale com Revendedor</button>
            </div>
        </article>

        <!-- Produto 3: Combo Nutri Rose -->
        <article id="produto-shampoo" class="produto-item">
            <img src="{% static 'img/florata_shampo_condicionador_mascar.jpg' %}" alt="Combo Nutri Rose Eudora" class="produto-imagem">
            <div class="produto-info">
                <h2>Combo Nutri Rose Eudora</h2>
                <p>Combo Nutri Rose / Shampoo + Condicionador + Máscara</p>
                <p><strong>Preço:</strong> R$ 139,90</p>
                <a href="https://minhaloja.grupoboticario.com.br/loja-marcosfelipeamorimmendes-22104942" target="_blank" rel="noopener noreferrer">
                <button type="button" class="btn-produtos">Produtos</button>
                 </a>
                <button onclick="faleComRevendedor('Combo Nutri Rose Eudora', 139.90)">Fale com Revendedor</button>
            </div>
        </article>

        <!-- Produto 4: Acidos e Alcalis -->
        <article id="produto-acidos" class="produto-item">
            <img src="{% static 'img/capa_acido_e_alcalis_uma_introducao.jpg' %}" alt="Ácidos e Alcalis - Uma Introdução" class="produto-imagem">
            <div class="produto-info">
                <h2>Ácidos e Alcalis - Uma Introdução</h2>
                <p>Este material aborda os conceitos fundamentais sobre ácidos e álcalis, essenciais para quem trabalha com nutrição e saúde.</p>
                <p><strong>Preço:</strong> R$ 24,90</p>
                <a href="{% static 'pdf/Acidos-e-Alcalis-Uma-Introducao.pdf' %}" target="_blank"><button>Ver Detalhes</button></a>
                <button onclick="adicionarAoCarrinho('Ácidos e Alcalis - Uma Introdução', 24.90)">Adicionar ao carrinho</button>
            </div>
        </article>

        <!-- Produto 5: Guia Alimentar -->
        <article id="produto-guia-alimentar" class="produto-item">
            <img src="{% static 'img/capa_guia_alimentar_da_populacao_brasileira.jpg' %}" alt="Guia Alimentar da População Brasileira" class="produto-imagem">
            <div class="produto-info">
                <h2>Guia Alimentar da População Brasileira</h2>
                <p>Este guia apresenta orientações sobre alimentação saudável, fundamentais para a promoção da saúde coletiva.</p>
                <p><strong>Preço:</strong> R$ 39,90</p>
                <a href="{% static 'pdf/ebook-guia-alimentar-da-populacao-brasileira.pdf' %}" target="_blank"><button>Ver Detalhes</button></a>
                <button onclick="adicionarAoCarrinho('Guia Alimentar da População Brasileira', 39.90)">Adicionar ao carrinho</button>
            </div>
        </article>

        <!-- Produto 6: Frutas e Ácido Úrico -->
        <article id="produto-frutas-urico" class="produto-item">
            <img src="{% static 'img/capa_frutas_que_combatem_o_acido_urico.png' %}" alt="Frutas que Combatem o Ácido Úrico" class="produto-imagem">
            <div class="produto-info">
                <h2>Frutas que Combatem o Ácido Úrico</h2>
                <p>Conheça as frutas que podem ajudar no combate ao ácido úrico, proporcionando uma alimentação mais saudável e equilibrada.</p>
                <p><strong>Preço:</strong> R$ 19,90</p>
                <a href="{% static 'pdf/Frutas-que-Combatem-o-Acido-Urico.pdf' %}" target="_blank"><button>Ver Detalhes</button></a>
                <button onclick="adicionarAoCarrinho('Frutas que Combatem o Ácido Úrico', 19.90)">Adicionar ao carrinho</button>
            </div>
        </article>

        <!-- Produto 7: Abcesso -->
        <article id="produto-abcesso" class="produto-item">
            <img src="{% static 'img/capa_abcesso_definições_e_causas.png' %}" alt="Abcesso - Definição e Causas" class="produto-imagem">
            <div class="produto-info">
                <h2>Abcesso - Definição e Causas</h2>
                <p>O abcesso é uma coleção de pus formada devido a infecções ou traumas. Este material apresenta as causas e características dessa condição, auxiliando no entendimento de seu manejo adequado.</p>
                <p><strong>Preço:</strong> R$ 19,90</p>
                <a href="{% static 'pdf/Abcesso-Definicao-e-Causas.pdf' %}" target="_blank"><button>Ver Detalhes</button></a>
                <button onclick="adicionarAoCarrinho('Abcesso - Definição e Causas', 19.90)">Adicionar ao carrinho</button>
            </div>
        </article>

    </section>

    <!-- Funções JavaScript -->
    <script>
        function faleComRevendedor(produto, preco) {
            const numero = "556297020570";
            const msg = `Olá, tenho interesse no produto ${produto} que custa R$ ${preco.toFixed(2).replace('.', ',')}.`;
            const url = `https://wa.me/${numero}?text=${encodeURIComponent(msg)}`;
            window.open(url, "_blank");
        }

        let cartCount = 0;
        function adicionarAoCarrinho(produto, preco) {
            cartCount++;
            document.getElementById('cart-count').textContent = cartCount;
            alert(`${produto} foi adicionado ao carrinho! Preço: R$ ${preco.toFixed(2)}`);
        }
    </script>
</main>
{% endblock %}
