{% extends 'loja_app/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="centralizador">

<div class="imagem-section">
  <h1 class="titulo-noticias">Projeto Alimentação Solidária Doação de Alimentos Para Instituições Sociais</h1>
  <p class="descricao-principal">Data de Início 09/06/2025
  
<p><strong>Arrecadação de Alimentos</strong></p>
<p>Estamos fazendo uma arrecadação para ajudar famílias carentes que estão cadastradas no programa social da Campanha da Fraternidade Auta de Souza uma das obras da Irradiação Espirita Cristã</p>

    <div class="imagem">
  <img src="{% static 'img/CAMPANHA DO AGASALHO E ALIMENTAÇÃO SOLIDÁRIA - Obras sociais da Irradiação espirita cristã - Copia.png' %}" alt="imagem de capa" class="imagem-canetinha">
</div>

<h2 class="titulo-noticias">Livro História e Ação</h2>
  <p class="descricao-principal">Por Marcelo Henrrique Pires, campanha da Fraternidade Auta de Souza em Goiânia</p>

   <div class="imagem">
  <img src="{% static 'img/capalivro.jpg' %}" alt="Imagem de capa" class="imagem-canetinha">
</div>
  <a href="#" class="botao-noticias">Clique aqui e confira todas informações</a>
</div>
</div>
{% endblock %}
