{% extends 'loja_app/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<div class="imagem-section">
  <h1 class="titulo-noticias">Projeto Alimentação Solidária Doação de Alimentos Para Instituições Sociais</h1>
  <p class="descricao-principal">Data de Início 09/06/2025
  
<p><strong>Arrecadação de Alimentos</strong></p>
<p>Estamos fazendo uma arrecadação para ajudar famílias carentes que estão cadastradas no programa social da Campanha da Fraternidade Auta de Souza uma das obras da Irradiação Espirita Cristã</p>

    <div class="imagem">
  <img src="{% static 'img/Alimentação solidária_Auta_de_souza.png' %}" alt="Imagem de uma canetinha" class="imagem-canetinha">
</div>

{% endblock %}
