{% extends 'loja_app/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<h1 class="titulo-principal">Mounjaro: como funciona novo remédio com efeito superior ao Ozempic aprovado pela Anvisa</h1>
<p class="descricao-principal">
  Nova medicação injetável está indicada inicialmente para tratar diabetes e atua em hormônios relacionados à digestão e à saciedade. Os resultados obtidos em estudos clínicos com a tirzepatida foram considerados 'sem precedentes'.
</p>

<div class="imagem">
  <img src="{% static 'img/mounjaro1.webp' %}" alt="Imagem de uma canetinha" class="imagem-canetinha">
</div>

{% endblock %}
